html{
	font-family: Helvetica, Roboto, Sans-serif;
	font-size: 12pt;
	margin: 0;
}
body{
	margin: 2rem 0;
	background: white;
}
body * {
	transition-duration: 100ms;
	box-sizing: border-box;
}

/* RESET */
address{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
h1{
	font-size: 1rem;
	text-align: center;
}
h2{
	font-size: 2.6rem;
	margin: 2rem 0 1rem 0;
}
h3{
	font-size: 1.9rem;
}
h4{
	font-size: 1rem;
}

footer{
	text-align: center;
}


h1 a{
	color: inherit;
	text-decoration: none;
}
p a{
	color: #44a;
	text-decoration: none;
}
p a:hover,
p a:focus{
	color: #224;
	text-decoration: underline;
}
/* SNIPPET */

.snippet{
	display: block;
	position: relative;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
	padding: 0.5rem;
	opacity: 0.8;
	user-select: none;
}
.snippet:hover{
	opacity: 1;
}
.snippet>*{
	position: relative;
	pointer-events: none;
}
.snippet>.image{
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.snippet{
	border: .1rem solid white;
	background: #f8f8f8;
}
.carousel{
	filter: drop-shadow(0 0 .5rem #0004);
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
main{
	background: inherit;
	margin: 0 auto;
	max-width: 32rem;
	padding: 0 2rem;
}
main[hidden]{
	display: none;
}
.article{
	min-height: calc(100% - 4rem);
	overflow: hidden;
}
.article:focus{
	outline: 0;
}
.article>*{
	margin-bottom: 1rem;
}
.article>h2{
	line-height: 1.2;
}
.article>.author{
	font-size: 1.5rem;
}
.article>.author:empty{
	display: none;
}
.article>.author::before{
	content: 'by '
}
.article>.body{
	line-height: 1.4;
}
.article>header{
	display: none;
}
main>footer{
	margin: 20vh 0;
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
.location>h2{
	text-align: center;
	text-transform: capitalize;
}
.category>*{
	padding-left: 2rem;
}
.category>.carousel{
	overflow: scroll hidden;
	white-space: nowrap;
	padding-bottom: 2rem;
	height: 18rem;
	width: 100%;
}
.category>h3{
	margin: 1rem 0;
}
.carousel>.snippet{
	white-space: initial;
	display: inline-block;
	margin-right: 1rem;
	width: 12rem;
	height: 16rem;
}
.carousel>.snippet.featured{
	width: 28rem;
}
.carousel>.snippet.featured>h4{
	font-size: 1.4rem;
}
.carousel>.snippet.featured>.image{
	width: 50%;
	height: 100%;
	float: right;
	margin-left: 0.5rem;
}

/*/////*/


body>footer{
	margin: 50vh 0;
}